<ng-container *asyncData="widgetContainer.currentWidgetContent;
                          placeholder: placeholder; 
                          fallback: 'Error. Try later!'
                          let news">
    <div class="view-container">
      <ul class="article">
        <li class="flow"  *ngFor="let article of news">
          <h3>{{ article.title }}</h3>
          <div
            class="img-art"
            style="background-image:url({{article.imgUrl}})"
          ></div>
  
          <p>{{ article.description }}</p>
          <a href="{{ article.sourceUrl }}" target="blank"> Источник статьи</a>
        </li>
      </ul>
    </div>
  </ng-container>

  <ng-template #placeholder>
    <span><h3>Loading! Please wait...</h3></span>
  </ng-template>