.view-container {
  height: 50%;
  overflow:auto
}

.article {
  height: 100%;
  padding: 4%;

  li {
    // background-color: aqua;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;

    .img-art {
      align-self: center;
      width: 200px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
    }

    a {
      color: peachpuff;
      --flow-space: 1.5em;
    }
  }
}
